{% extends 'projects/base.html' %}

{% block title %}My projects{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p><b>Name:</b> {{ project.name }}</p>
                <p><b>Description:</b> {{ project.description }}</p>
                <p><b>Owner:</b> {{ project.owner.email }}</p>
                <p><b>Created at:</b> {{ project.created_at|date }}</p>
                <p><b>Updated at:</b> {{ project.updated_at|date }}</p>
                <p><b>Members:</b></p>
                {% for member in project.members.all %}
                    <p>{{ member.email }}</p>
                {% endfor %}
                <form action="{% url 'projects_delete' project.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete project</button>
                </form>
                <a href="{% url 'projects_update' project.pk %}" class="btn btn-info mt-2">Edit project</a>
            </div>
        </div>
    </div>

{% endblock %}