{% extends 'projects/base.html' %}

{% block title %}My projects{% endblock %}

{% block content %}
    <h2>My projects</h2>
    <a href="{% url 'projects_create' %}" class="btn btn-primary mb-2">New project</a>

    <ul class="list-group">
    {% for project in projects %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            <a href="{% url 'projects_detail' project.pk %}"><b>{{ project.name }}</b></a>
            {{ project.description }}
        </span>
        <span class="text-muted">{{ project.created_at|date }}</span>
      </li>
    {% empty %}
        No projects found
    {% endfor %}
    </ul>


{% endblock %}