{% extends 'projects/base.html' %}

{% block title %}Edit project{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}

    <h2>Edit project</h2>
    <form method="POST">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}