{% extends 'projects/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="col-md-6 offset-md-3">
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card">
            <div class="card-body">
                <h2>Login</h2>
                {% if request.GET.username %}
                    <form method="post">
                {% else %}
                    <form method="get">
                {% endif %}
                {% if request.GET.username %}
                    {% csrf_token %}
                {% endif %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
           $("form").submit(function(e){
                $('form :input').prop('disabled', false);
            });
        });
    </script>
{% endblock %}