{% extends 'projects/base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="col-md-6 offset-md-3">
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card">
            <div class="card-body">
                <h2>Successfull</h2>
                <p>Your password has been changed</p>
                <a href="{% url 'projects_list' %}" class="btn btn-primary">Go to homepage</a>
            </div>
        </div>
    </div>
{% endblock %}
