<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand" href="{% url 'projects_list' %}">Projects App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            {% if user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'projects_list' %}">My projects</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item active">
                            <a class="nav-link btn btn-primary btn-sm text-light" href="{% url 'admin:index' %}">Admin
                                panel</a>
                        </li>
                    {% endif %}

                </ul>
            {% endif %}
            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0 mr-5">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search project">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                            {{ user.email }} <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">
                                Profile
                            </a>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            {% endif %}


        </div>
    </div>
</nav>