{% extends 'projects/base.html' %}

{% block title %}My profile{% endblock %}

{% block content %}
    <h2>My profile</h2>
    <a href="{% url 'change_password' %}" class="btn btn-primary mb-2">Change password</a>
    <div class="card">
        <div class="card-body">
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Created at:</b> {{ user.date_joined|date:"Y-m-d H:i:s" }}</p>
            <p><b>Last valid login:</b> {{ user.valid_login_at|date:"Y-m-d H:i:s" }}</p>
            <p><b>Last invalid login:</b> {{ user.invalid_login_at|date:"Y-m-d H:i:s" }}</p>
            <p><b>Invalid login attempts (since last login):</b> {{ user.invalid_logins_number }}</p>
        </div>
    </div>

{% endblock %}